@import '../lib/reset.css';
@import '../lib/buttons';

article{
	margin-top: 288px;
}
h4,section{
	margin-left: 137px;
}
h4{
	font-weight: bold;
	font-size: 16px;
}
section{
	width: 1096px;
	height: 273px;
	margin-top: 30px;
	border: 1px solid #E3E3E3;
}
.menubar{
	margin-top: 52px;
	height: 100px;
}
.menubar button{
	height: 48px;
	line-height: 42px;
	margin-top: 28px;
}
.btn-sort{
	width: 122px;
	margin-left: 20px;
}
.btn-pub{
	width: 152px;
	margin-left: 480px;
}
.btn-load{
	width: 200px;
	height: 60px;
	margin-top: 78px;
	margin-left: 1366px/2 - 100px;
}
a{
	&:link{
		text-decoration: none;
		color: white;
	};
	&:visited{
		text-decoration: none;
		color: white;
	};
	&:hover{
		text-decoration: none;
		color: white;
	};
	&:active{
		text-decoration: none;
		color: white;
	};
}
/*company cards*/
section table{
	margin: 20px;
}
section table img{
	width: 200px;
	height: 200px;
}
section table h2{
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 40px 20px;
	font-size: 24px;
	font-weight: bold;
	color: white;
	background: #52BAC7;
	border-radius: 4px;
	margin-left: 132px;
}
section .jRate{
	margin-left: 138px;
	margin-bottom: 32px;
}
section table h3,section table h5{
	margin-left: 16px;
}
section table h3{
	display: inline-block;
	padding: 2px 10px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	font-size: 24px;
	color: white;
	background: #52BAC7;
	border-radius: 4px;
}
section table h5{
	font-size: 16px;
	color: #848484;
}
section table h6{
	font-size: 14px;
	margin-top: 16px;
	color: #B4B4B4;
}
section table a{
	margin-left: 200px;
	color: #848484;
	cursor: pointer;
	&:link{
		color: #848484;
	};
	&:visited{
		color: #848484;
	};
	&:hover{
		color: black;
	};
}