@import "global-set";
$width:140px 29px 25px 8px 14px;
$family:Arial Regular;
$font:12px 14px;
body{
  padding-bottom: 140px;
}
.common-footer{
  background-color: $bg-color;
  width:100%;
  overflow: hidden;
  position: absolute;
  bottom:0;
}
.common-footer-wrap{
}
.link-wrap-list{
  margin-left: nth($width,4);
  height: nth($width,1);
  line-height: nth($width,1);
}
.link-wrap-item{
  vertical-align: middle;
  img{
    vertical-align: middle;
  }
  @at-root {
    .common-footer-logo{
      margin-right: nth($width,2);
      width: 119px;
      height: 46px;
    }
    .third-party{
      margin-right: nth($width,5);
      width: 40px;
      height: 40px;
    }
  }

}
.common-footer-aside{
  float: right;
  padding-top: 49px;
  padding-bottom: 44px;
  p{
    height: 22px;
    line-height: 22px;
    font-size: nth($font,1);
    font-family: $family;
    color: #fff;
  }
}
.about-us-list{
  text-align: right;
  height: 25px;
  line-height: 25px;
  a{
    margin-left: nth($width,2);
    font-size: nth($font,2);
  }
}
